
.logo{
    height: 50px;
    margin:auto;
    display: block;
    padding-bottom: 5px;
}

.foto{
    margin:auto;
    
}
.img{
    border-radius: 10px;
}
.sottotitolo{
    background-color: beige;
    padding-bottom: 5px;
    border-top: 5px orange solid;
    margin-top: 5px;
    color: rgb(0, 128, 117)
}

.sottotitolo-foto{
    color:rgb(145, 142, 139);

}
.righeda{
    color:red;
    border-left: 3px solid rgb(223, 223, 147);
    padding-left: 15px;

}
.ingredienti{
    font-size: 30px;
    border-bottom: 3px solid rgb(23, 121, 160);
}
.separazione{
    margin-left: 30vw;
    margin-right: 30vw;
}
.punti{
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    color: blue;
}